[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
docs-generator = "*"
nbconvert = "==6.0.4"
pydrive = "*"
certifi = "*"
pytesseract = "*"
pyinstaller = "*"
watchdog = "*"

[requires]
python_version = "3.8"
